<header>
            <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="index.html">HOUNDLESS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="#">{{'Navbar.Principal' | translate }}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="asociaciones">{{'Navbar.Asociaciones' | translate }}</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="adopcion">{{'Navbar.Adopcion' | translate }}</a>
            </li>
            <li class="nav-item my-2 my-sm-0">
            <a class="nav-link" href="descripcion">{{'Navbar.Informacion' | translate }}</a>
            </li>
            <li class="nav-item my-2 my-sm-0">
                <a class="nav-link" href="perfil_usuario">{{'Navbar.Perfil' | translate }}</a>
            </li>
        </ul>

        <button class="btn btn-secondary my-2 my-sm-0" [ngClass]="{'disabled': activeLang == 'es'}" (click)="cambiarLenguaje('es')">ES</button>
        <button class="btn btn-secondary my-2 my-sm-0" [ngClass]="{'disabled': activeLang == 'en'}" (click)="cambiarLenguaje('en')">EN</button>
        
        <form class="form-inline mt-2 mt-md-0" action="nuevoAnuncio">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{'Navbar.Anuncio-adopcion' | translate }}</button>
        </form>
        </div>
    </nav>
</header>