.div-forma-anuncio{
    margin-top: 4em;
    width:50%;
    align-content: center;
    margin: 4.5em auto;
}

img{
    min-width: 100%;
}

.map-generator{max-width: 100%; max-height: 100%; background: none;}

.button-container{
    box-sizing: border-box;
    padding-top: 10px;
}

.descripcion-form2{
    height: 10em;
}

.iframe-anuncio{
    height : 100%;
    width : 100%;
    border : 0;
}