h1{
    color:gray;
    font-size: 25px;
}
.div-principal-anuncios{
    width:100%;
    box-sizing: border-box;
    margin-top: 4em;
    padding: 2%;
    height:auto;
}

.div-principal-publicacion{
    background-color: #e0e0e0;
    width:100%;
    height: 20em;
    display: inline-block;
    margin: 0.5em 0px 0px 0px;
}

.div-principal-imagen{
    box-sizing: border-box;
    padding: 2%;
    width:24%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.div-principal-imagen img{
    max-width: 100%;
    max-height: 100%;
}

.div-principal-mapa img{
    max-width: 100%;
    max-height: 100%;
}

.div-principal-informacion{
    vertical-align: top;
    box-sizing: border-box;
    padding: 1em;
    width:49%;
    height:100%;
    display: inline-block;
}

.div-principal-mapa{
    vertical-align: top;
    width:24%;
    height:100%;
    display: inline-block;
    padding: 10px 10px;
}

.principal-boton{
    margin-top: 25%;
}

.iframe-mapa{
    width: 100%;
    height: 100%;
}

.boton-donaciones-principal{
    bottom: 10%;
}
@media (max-width:599px){
    .div-principal-mapa{
        display: none;
    }
    .div-principal-informacion{
        width:40%;
    }
    .div-principal-imagen{
        width:58%;
    }
}
/*
@media (min-width:300px){
    .div-principal-mapa{
        display: inline;
    }
    .div-principal-publicacion{
        height: 7em;
    }
}*/
@media (min-width:600px){
    .div-principal-publicacion{
        height: 10em;
    }
}
@media (min-width:1000px){
    .div-principal-publicacion{
        height: 15em;
    }
}

@media (max-width:300px){
    .div-principal-informacion{
        font-size: 6px;
    }
    h1{
        font-size: 10px;
    }
}
@media (max-width:600px){
    .div-principal-informacion{
        font-size: 9px;
    }
    h1{
        font-size: 15px;
    }
}
@media (max-width:1000px){

    .div-principal-informacion{
        font-size: 10px;
    }
    h1{
        font-size: 20px;
    }
}