<div class="div-perfil-usuario-perfil ">
    <div class="img-perfil-usuario-perfil ">
        <img src="assets/imgs/profile.png" alt="Usr photo">
    </div>
    <div class="div-perfil-usuario-informacion">
        <h2> {{ perfiles.nombre }} <a class="edit-perfil" href="editar_usuario.html">Editar</a></h2>
        <label id="typeUser">Usuario normal</label>
        <h6>
            Informaci&oacute;n Personal:
        </h6>
        <ul>
            <li>Nombre: <code> {{ perfiles.nombre }} </code></li>
            <li>Id: <code>{{id}}</code></li>
        </ul>
        <h6>
            Datos de cuenta
        </h6>
        <ul>
            <li>Correo: <code> {{ perfiles.correo }}</code></li>
            <li>N&uacute;mero telef&oacute;nico: <code> {{ perfiles.celular }} </code></li>
            <li>Paypal link: <code>paypal.me/pelagiodaniel</code></li>
        </ul>
        <form>
            <input type="url" id="inputDonate" class="form-control" placeholder="Paypal Link">
            <button class="btn btn-lg btn-secondary btn-block bttn-lg-signup" type="submit">Agregar M&eacute;todo de Donaci&oacute;n</button>
        </form>
    </div>
</div>
