<div class="div-asociaciones-individual">
    <div class="div-asociaciones-imagen">
        <img [src]="asociacion.logo_path" alt="Association logo" style="width:100%">
    </div>
    <div class="div-asociaciones-informacion">
            <h4 class="card-title"> {{asociacion.nombre}}</h4>
            <p>{{asociacion.descripcion}}</p>
            <p>{{asociacion.estado}}, {{asociacion.municipio}}. Col. {{asociacion.colonia}}</p>
            <p>Tel. {{asociacion.telefono}}</p>
            <p>{{asociacion.correo}}</p>
            <p>{{asociacion.sitio_web}}</p>
        
    </div>
</div>