.text-center{
    align-content: center;
}

.logotipo{
    padding: 2em;
    height: 300px;
}

.form-login{
    text-align: center;
    margin: auto; 
    height: 100%;
    width:450px;
    color: black;
}

.header-principal{
    padding-bottom: 1em;
}

.check-main{
    padding-bottom: 2em;
}

.bttn-lg{
    margin-top: 1em;
    margin-bottom: 1em;
}

.div-contenido{
    height: 100%;
    width: 100%;
}

.link-regis{
    font-size: 14pt;
}

.textbox-usr{
    margin-bottom: 1em;
}