<!--div class="div-principal-anuncios" >
  <div *ngFor="let adopcion of adopciones" app-adopcion [adopcion]="adopcion" ></div>
</div>-->

<div class="div-principal-anuncios">
  <div>
    <form class="form-inline md-form mr-auto mb-4">
      <input class="form-control mr-sm-2" type="text" placeholder="{{'SearchBar.Buscar' | translate}}" aria-label="Search">
      <button mdbBtn size="sm" color="warning" outline="true" rounded="true" class="btn btn-success my-2 my-sm-0"
        mdbWavesEffect type="submit">{{'SearchBar.Buscar' | translate}}</button>
    </form>
  </div>  
  <adopcion-app [data]="adop" *ngFor="let adop of adopciones"></adopcion-app>
</div>