<div class="div-forma-anuncio">
<form #NuevoAnuncio="ngForm">
    <div class="form-group">
      <label for="titulo">{{'NuevoAnuncio.titulo'}}</label>
      <input type="text" class="form-control" id="titulo" placeholder="Agregue un nuevo t&iacute;tulo a su anuncio." [(ngModel)]="nuevo_anuncio.titulo" name="titulo">
    </div>
  
     <div class="form-group">
      <label for="descripcion">{{'NuevoAnuncio.descripcion'}}</label>
      <input type="text" class="form-control" id="descripcion" placeholder="Agregue una descripci&oacute;n a su anuncio." name="descripcion" [(ngModel)]="nuevo_anuncio.descripcion">
    </div>
  
      <div class="form-group">
      <label for="ubicacion">{{'NuevoAnuncio.ubicacion'}}</label>
      <input type="text" class="form-control" id="ubicacion" placeholder="Agregue sus coordenadas" name="ubicacion" [(ngModel)]="nuevo_anuncio.ubicacion"  #name="ngModel" required="required">
    </div>
  
    <div class="form-group">
      <label for="raza">{{'NuevoAnuncio.raza' }}</label>
      <select class="form-control" id="raza" [(ngModel)]="nuevo_anuncio.raza" name="raza" required="required">
        <option></option>
        
          <option *ngFor="let raza of razas" [value]="raza">{{raza}}</option>
    
      </select>
    </div>
  
  
     <button type="submit" class="btn btn-success" (click)="enviar();NuevoAnuncio.reset();" >Publicar Anuncio</button>
  
  </form>
</div>