<div class="div-forma-anuncio">
<form #NuevoAnuncio="ngForm">
    <div class="form-group">
      <label for="titulo">{{'NuevoAnuncio.titulo' | translate}}</label>
      <input type="text" class="form-control" id="titulo" placeholder="{{'NuevoAnuncio.titulo-placeholder' | translate}}" [(ngModel)]="nuevo_anuncio.titulo" name="titulo">
    </div>
  
     <div class="form-group">
      <label for="descripcion">{{'NuevoAnuncio.descripcion' | translate}}</label>
      <input type="text" class="form-control" id="descripcion" placeholder="{{'NuevoAnuncio.descripcion-placeholder' | translate}}" name="descripcion" [(ngModel)]="nuevo_anuncio.descripcion">
    </div>
  
    <div class="form-group">
      <label for="raza">{{'NuevoAnuncio.raza' | translate}}</label>
      <select class="form-control" id="raza" [(ngModel)]="nuevo_anuncio.raza" name="raza" required="required">
        <option></option>
          <option *ngFor="let raza of razas" [value]="raza">{{raza}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="municipio">{{'NuevoAnuncio.municipio' | translate}}</label>
      <input type="text" class="form-control" id="municipio" placeholder="{{'NuevoAnuncio.municipio' | translate}}" name="municipio" [(ngModel)]="nuevo_anuncio.municipio"  #name="ngModel" required="required">
    </div>

    <div class="form-group">
      <label for="estado">{{'NuevoAnuncio.estado' | translate}}</label>
      <input type="text" class="form-control" id="estado" placeholder="{{'NuevoAnuncio.estado' | translate}}" name="estado" [(ngModel)]="nuevo_anuncio.estado"  #name="ngModel" required="required">
    </div>

    <div class="form-group">
      <label for="colonia">{{'NuevoAnuncio.colonia' | translate}}</label>
      <input type="text" class="form-control" id="colonia" placeholder="{{'NuevoAnuncio.colonia' | translate}}" name="colonia" [(ngModel)]="nuevo_anuncio.colonia"  #name="ngModel" required="required">
    </div>

    <div class="form-group">
      <label for="tags">{{'NuevoAnuncio.tags' | translate}}</label>
      <input type="text" class="form-control" id="tags" placeholder="{{'NuevoAnuncio.tags' | translate}}" name="tags" [(ngModel)]="stringTags"  #name="ngModel" required="required">
    </div>

    <div class="form-group">
      <label for="img_path">{{'NuevoAnuncio.imagen' | translate}}</label><br>
      <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
      <button (click)="fileInput.click()">Select File</button>
    </div>

     <button type="submit" class="btn btn-success" (click)="enviar()">{{ 'NuevoAnuncio.publicar' | translate }}</button>
  </form>
</div>